.header {
  &--default {
    height: 50px;
    width: 100%;
    position: sticky;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100;
    display: flex;
    border-bottom: 10px solid #ccc;

    .header {
      &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 200px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 1.2rem;
        position: relative;

        svg {
          max-width: inherit;
          transform: scale(0.3);
          position: absolute;
          padding-top: 50px;
        }
      }

      &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &__item {
          width: 98px;
          list-style-type: none;
          border-right: 1px solid #252525;

          &__link {
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.8rem;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}
